@model PortalTeme.ViewModels.Home.AngularIndexViewModel

@{
    ViewData["Title"] = "Portal Teme";
}

<app-root>
    <span style="color: white;">@ViewData["LoadingText"]</span>
</app-root>

@Html.AntiForgeryToken()

@* Pass server side variables to frontend *@
<script type="text/javascript">
    window.portalTeme = {};
    window.portalTeme.settings = {};

    @if(Model.User != null) {
    <text>
    window.portalTeme.settings.user = {
        email: "@Model.User.Email",
        firstName: "@Model.User.FirstName",
        lastName: "@Model.User.LastName",
        roles: @Html.Raw(Model.User.Roles)
    };
    </text>
    }

</script>
